//light color scheme
$light-primary-color: #e1d5d9;
$light-primary-color-lt: #f6f2f6;
$light-secondary-color: #b7a7ae;
$light-secondary-color-drk: #58545b;
$light-secondary-color-drkr: #1c252c;

//dark color scheme
$dark-primary-color: #393a5a;
$dark-primary-color-lt: #706f8e;
$dark-secondary-color: #22222e;
$dark-secondary-color-lt: #ada9ba;
$dark-secondary-color-ltr: #e9e9e9;
